body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header,
main,
footer {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

header {
  background-color: #61dafb;
  text-align: center;
}

main {
  background-color: #ffffff;
}

.card {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
}